# Homework:
Use the cell phone usage data in this exercise.
1. Find out the network names that belongs to network_type "mobile".
2. How many messages were sent to each mobile network every month?
3. What is the total call duration to each mobile network every month?

In [1]:
import numpy as np
import pandas as pd

In [3]:
# Load data
# https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/
url = "https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2015/06/phone_data.csv"
data = pd.read_csv(url, delimiter=",", index_col='index')
print(data.shape)
data.head(3)

(830, 6)

                 date  duration  item    month   network network_type
index
0      15/10/14 06:58    34.429  data  2014-11      data         data
1      15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      15/10/14 14:46    23.000  call  2014-11    Meteor       mobile

1)

In [5]:
mobile_filter = data["network_type"] == "mobile"
data[mobile_filter]["network"].unique()

array(['Vodafone', 'Meteor', 'Tesco', 'Three'], dtype=object)

2)

In [13]:
sms_filter = data["item"] == "sms"
data[sms_filter & mobile_filter]["network"].value_counts()

Vodafone    149
Three        87
Meteor       33
Tesco        13
Name: network, dtype: int64

3)

In [14]:
call_filter = data["item"] == "call"
data[call_filter & mobile_filter].groupby("network").sum()["duration"]

network
Meteor       7200.0
Tesco       13828.0
Three       36464.0
Vodafone    14621.0
Name: duration, dtype: float64